.bookmark {
  position: relative;
  top: -$padding-page;
  border-right: 1px solid #fff;
  background: url('../sass/assets/images/bookmark.png');
  width: 200px;
  height: 650px;
  @include flexbox (column, flex-start, center);
  padding: 1.5rem 2rem;
  z-index: 1;
}