.bookmark {
  position: relative;
  top: -$padding-page;
  width: 200px;
  z-index: 1;

  &__background {
    position: absolute;
    width: 0;
    height: 650px;
    border-left: 100px solid $color-secondary;
    border-right: 100px solid $color-secondary;
    border-bottom: 100px solid transparent;
  }

  &__front {
    position: relative;
    height: 450px;
    @include flexbox (column, space-between, center);
    padding: 1.5rem 2rem;
  }
}