.add {
  position: relative;

  &__wrapper {
    height: 0;
    overflow: hidden;
  }

  &__container {
    position: absolute;
    top: $padding-page;
    z-index: 1;
    background: $color-page;
    padding: 2rem 3rem;
    border: 1px solid $color-secondary;
    box-shadow: $box-shadow;
    border-radius: 2.5px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    width: 50px;
    fill: $color-primary;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  label {
    display: inline-block;
    margin: 1.125rem 0 0.35rem 0;
  } 
}

input[type="text"] {
  height: 1.75rem;
  padding-left: .5rem;
  border: 1px solid desaturate(lighten($color-primary, 50%), 70%);
  border-radius: 2px;

  &:focus {
    box-shadow: $box-shadow;
    border: 1px solid lighten($color-secondary, 10%);
  }
}