header {
  @include flexbox(row, flex-start, center);
  padding: 0 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.filter {
  display: flex;
  cursor: pointer;
}

.sort {
  position: relative;
  margin-left: auto;

  &__box {
    position: absolute;
    margin-top: .75rem;
    padding: .5rem 0 .5rem 1.25rem;
    box-shadow: 0 0 10px rgba($color-primary, 0.2);
    z-index: 1;
    background: $color-page;
  }
}