.page {
  background: $color-page;
  position: relative;
  flex: 1;
  border: 1px solid $color-primary;

  &__number {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
  }
}

.first {
  background-size: auto 100%;
  border-radius: 2.5px 0 0 2.5px;
  overflow: hidden;
  padding: $padding-page;
  border-right: 2px solid $color-secondary;
  max-width: 50%;
}

.second {
  border-radius: 0 2.5px 2.5px 0;
  padding: 1.5rem 0;
  border-left: 2px solid $color-secondary;
}

.fill {
  position: absolute;
  padding: $padding-page 1.25rem;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
}