.page {
  background: $page-color;
  position: relative;
  border-radius: 2.5px;
}

.first {
  background-image: url('../sass/assets/images/page.png');
  background-size: auto 100%;
}

.second {
  padding: 2rem 3rem;
}