.book {
  background: transparent;
  width: 7.5rem;
  height: 10rem;
  perspective: 1000px;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  &:hover &__inner {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &__front {
    background-color: #fff;
  }

  &__back {
    background-color: #fff;
    transform: rotateY(180deg);
    padding: 1rem;
    @include flexbox(column, space-between, center);
  }

  & > h2 {
    padding: .5rem;
  }

}
