button {
  border: none;
  background: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

.btn {

  cursor: pointer;
  
  &--text {
    background: desaturate(lighten($color-primary, 20%), 10%);
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    align-self: center;
    color: white;
    font-size: 0.875rem;
  }

  &--icon {
    font-size: 1.125rem;
    color: $color-primary;
    transition: all 0.15s ease-in;

    &:hover {
      color: $color-secondary;
      transform: scale(1.2);
    }
  }
}