   * {
    scrollbar-width: thin;
    scrollbar-color: $color-secondary $page-color;
  }
  
  *::-webkit-scrollbar {
    width: 0.75rem;
  }
  *::-webkit-scrollbar-track {
    background: $page-color;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $color-secondary;
    border-radius: 1.25rem;
    border: 0.1875rem solid $page-color;
  }