@font-face {
  font-family: 'dream_orphansregular';
  src: url('../sass/assets/fonts/dream_orphans-webfont.eot');
  src: url('../sass/assets/fonts/dream_orphans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../sass/assets/fonts/dream_orphans-webfont.woff2') format('woff2'),
       url('../sass/assets/fonts/dream_orphans-webfont.woff') format('woff'),
       url('../sass/assets/fonts/dream_orphans-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $font-color;
  font-family: $font-secondary;
  text-align: justify;
}

.bookmark {
  font-family: $font-primary;
  color: $bookmark-color;
  font-size: 1.125rem;
  line-height: 1.5;

  &__quote {
    font-family: $font-secondary;
    font-weight: 300;
  }

  &__statistics {
    font-weight: 400;
  }
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-family: $font-title;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  color: $accent-color;
}

.fill {
  font-family: $font-primary;

  p {
    margin-bottom: 1rem;
  }
}

.heading1,
.heading2,
.heading3 {
  text-align: center;
}

.heading1 {
  color: $color-primary;
  font-size: 3.25rem;
}

.heading2 {
  $color: $color-primary;
  font-size: 1.125rem;
  margin: 1rem;
}

.heading3 {
  color: lighten($color-primary, 5%);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
}

.sort {
  font-family: $font-secondary;
  color: $font-color;
  font-weight: 300;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.credit {
  text-align: end;
  padding: .25rem 0;
}

.btn--add {
  font-size: 1.25rem;
  color: $color-primary;
}

.add {
  font-size: .875rem;
}

.page__number {
  font-family: $font-primary;
  background: $color-primary;
  background: -webkit-linear-gradient($color-primary, $color-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}