//Colors

$background-color: #eed9d3;
$page-color: #f9f9f9;
$main-color: #a3bdc8;
$font-color: #696969;
$accent-color: #353535;
$bookmark-color: #fff;

//Fonts
$font-title: 'dream_orphansregular', Helvetica, Verdana, "Trebuchet MS", "Calibri Light", Arial;
$font-primary: 'Calibri Light', "Trebuchet MS", Helvetica, Verdana, "Calibri Light", Arial;
$font-secondary: 'Roboto', 'Calibri Light', "Trebuchet MS", Helvetica, Verdana, "Calibri Light", Arial;

//Padding
$padding-bookmark: 3.25rem;