//Colors

$page-color: #f9f9f9;
$color-primary: #053630;
$color-background: #eedfda;
$color-secondary: rgb(165, 98, 98);
$font-color: #353535;
$accent-color: #353535;
$bookmark-color: #fff;

//Fonts
$font-title: 'dream_orphansregular', Helvetica, Verdana, "Trebuchet MS", "Calibri Light", Arial;
$font-primary: 'Times New Roman', "Trebuchet MS", Helvetica, Verdana, "Calibri Light", Arial;
$font-secondary: 'Roboto', 'Calibri Light', "Trebuchet MS", Helvetica, Verdana, "Calibri Light", Arial;

//Padding
$padding-page: 3.25rem;

//Shadow
$box-shadow: 0 0 5px rgba($color-primary, 0.3);